.background{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.tabela{
	color: white;
}
.footer {
	position: relative;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: rgba(22, 89, 143, 0.61);
	padding-top: 8px;
	color: white;
	text-align: center;
}