<!DOCTYPE html>
<html>
<head>
	<title>RPG</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="background" background="https://static1.squarespace.com/static/546c6586e4b05ac1107002d9/58197835d2b857d06f5bcdcb/58197a5846c3c4492a17cf04/1478142577838/kendo1.jpg?format=1000w">
	<div id="menu"></div>

	<h1 align="center" class="titulo"> Mungekai-CG</h1>

	<div class="footer">
		<p>Feito com amor</p>
	</div>

</body>
</html>
<script>
	$(document).ready(function() {
		$('#menu').load('https://andrerosamatos.github.io/Kendo/views/menu.html');
	});
</script>